@import '~antd/dist/antd.css';


[data-theme="compact"] p, p {
  margin: 0;
}

.faqs-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

h2 {
    font-weight: 600;
    font-size: 31px;
    line-height: 36px;
    letter-spacing: 0.005em;
    color: #37434E;
    padding: 130px, 0 58px 0; 
}
