.time-tracker {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 93px 0;
}

input {
    width: 428px;
    height: 56px;
    background: #FAFEFF;
    border: 1.5px solid #F3F1FF;
    box-sizing: border-box;
    border-radius: 28.5px;
    margin-right: 8px;
}

input:focus {
    outline: none;
}

input[placeholder] {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #8498AA;
}

.time-tracker>h2 {
    font-weight: 600;
    font-size: 31px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #37434E;
    margin-bottom: 41px;
}

.time-tracker>p {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #FFC107;
}

@media screen and (max-width: 736px) {
    .time-tracker {
        padding: 53px 0;
    }

    input {
        width: 328px;
        height: 36px;
    }

    .tracker-btn {
        width: 140px;
        height: 25px;
    }
}